<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a [routerLink]="['/']" class="navbar-brand">You Are The Goat, S.L.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a [routerLink]="['/']" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/musica']" class="nav-link" >Musica</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/cine']" class="nav-link">Cine</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/numerodoble']" class="nav-link">Numero Doble</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/numerodoble/27']" class="nav-link">Numero Doble 27</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/tablamultiplicar/27']" class="nav-link">Tabla Multiplicar 27</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/tablamultiplicar/33']" class="nav-link">Tabla Multiplicar 33</a>
      </li>
    </ul>
  </div>
</nav>

